# cat /usr/lib/systemd/system/prometheus.service


\\ \\ \\ \\ \\ \\ \\ \\ || || || || || || // // // // // // // //
\\ \\ \\ \\ \\ \\ \\        _ooOoo_          // // // // // // //
\\ \\ \\ \\ \\ \\          o8888888o            // // // // // //
\\ \\ \\ \\ \\             88" . "88               // // // // //
\\ \\ \\ \\                (| -_- |)                  // // // //
\\ \\ \\                   O\  =  /O                     // // //
\\ \\                   ____/---'\____                     // //
\\                    .'  \\|     |//  .                      //
==                   /  \\|||  :  |||//  \                     ==
==                  /  _||||| -:- |||||-  \                    ==
==                  |   | \\\  -  /// |   |                    ==
==                  | \_|  ''\---/''  |   |                    ==
==                   \  .-\__  -  ___/-. /                     ==
==                ___. .'  /--.--\  . . ___                   ==
==              ."" '<  .___\_<|>_/___.'  >'"".             ==
==            | | :  - \.;\ _ /;./ -  : | |             ==
//            \  \ -.   \_ __\ /__ _/   .- /  /            \\
//      ========-.____-.___\_____/___.-____.-'========       \\
//                           =---='                            \\
// //   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^  \\  \\
// // //      佛祖保佑      永无BUG      永不修改             \\ \\ \\

[Unit]
Description=https://prometheus.io

[Service]
Restart=on-failure
ExecStart=/usr/local/prometheus/prometheus --config.file=/usr/local/prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target